<header >
  <div> Expenses </div>
</header>

<div class="totalExpenses">
  <div> Total </div> 
  <div> <%= @total %> $ </div>
</div>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <div class="expenseContainer">
      <div class="expenseNameDate">
        <div> <%= expense.expenses.Name %> </div>
        <div class="gray"> 
          <%= expense.expenses.created_at.year %> -
          <%= expense.expenses.created_at.month %> -
          <%= expense.expenses.created_at.day %> 
        </div>
      </div>
      <div> <%= expense.expenses.Amount %> $ </div>
    </div>
  <% end %>
</div>

<div class="headerBack">
  <%= link_to "<", groups_path	 %>
</div>

<div class="greenButton">
  <%= link_to "New expense", new_group_expense_path	 %>
</div>